.about {
  box-shadow: 0 0 7px 0px #0cbfef7a;
  background: #fdfdfd;
  position: relative;
  }

  .section-container{
    position: inherit;
  }

  .about-body{
    padding: 5em 0;
    position: relative;

    .about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
    .sexy-pic{
      height: 300px;
      box-shadow: -8px 7px 20px 0px #00416b8c;
      border-radius: 47% 53% 71% 29% / 71% 55% 45% 29%;
    }

    

      .about-intro{
        span{
          color: #ffffff;
          background: #0bc0ef;
          padding: 0 5px;
          border-radius: 28% 72% 39% 61% / 64% 74% 26% 36%;
        }
        font-size: 2em;
        font-weight: 600;
        display: block;
        color: $fc-darkBlue;
        text-align: center;
        padding: 1em;
      }

      .me{
        padding: 5 0 20 0;
        font-size: .65em;
        color: $fc-darkBlue;
        position: relative;

        span{
          position: absolute;
          bottom: -10px;
          left: 90px;
        }
      }

      .description-container{
        padding: 20px;
        width: 60%;
    }
  }
}

  

  @media only screen and (max-width: 1500px) {
    .about{
      .about-body{
        .about-intro{
          text-align: center;
          margin: .25em 0;
        }
        .about-me{
          .me-description{
            margin-left: 15%;
          }
         
        }
      }
    }
  }


  @media only screen and (max-width: 520px) {
      .about .about-body{
        width: 100%;
          .description-container {
            width: 100%;
            margin: 3em 0;
            border-radius: 10px;
            padding: 0%;
            .about-intro{
              font-size: 1.25em;
              padding: 10%;
              color: $fc-black;
              text-shadow: none;

              span{
                text-shadow: none;
              }
            }

            .me-description{
              margin-bottom: 5em;
              margin-left: 0em;
              padding: 10px;
            }
          }
        }
      }
    