.hidecc{
  height: 30vh;
  background:$fc-white;
  color:$fc-black;
  display: flex;
  flex-flow: column;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  box-shadow: 2px -12px 14px black;
}

#what{
  cursor: pointer;
  max-width: 20px;
  height: 50px;
  position: absolute;
  left: 20;
  font-size: 20px;
  }

.crabby-cat{
  transition: 7s ease-in-out;
  height: 30vh;
  background: url(/images/crabbycat.jpg)center center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}