.logo{
  font-weight: 600;
  height: 32px;
  width: 51px;
  position: absolute;
  top: 14px;
}

.changeColor{
  transition: .7s ease-in-out;
  background: $fc-white;
  box-shadow: 2px 2px 20px 0px $fc-darkBlue;
  a{
    color:$fc-black;
  }
  .logo{
    color:$fc-darkBlue;
  }
}

.navBack{
  transition: .4s ease-in-out;
  background:transparent;
  a{
    color: $fc-white;
  }
  .logo{
    color:transparent;
  }
}

.nav{
  padding: 20px;
  letter-spacing: 2px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 7;

  .social-nav{
    display: none;
  }
}
  
  .nav-item{
    margin-left: 20%;
    color: $fc-black;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease-in-out;
    position: relative;

    &:hover{
      color: #fff;
      transform-origin: bottom;
    }

    span{
      position: absolute;
      top: -12;
      background: $fc-darkBlue;
      width: 35%;
      height: 220%;
      transform-origin: top;
      transform: scaleY(0);
      transition: transform .5s;
      z-index: -1;
    }
    &:hover span{
      transform:scaleY(1);
      transform-origin:bottom
    }
    span:nth-child(1){
      transition-delay:.0s;
      left:-13;
      border-radius: 5px 0 0 5px;
    }
    span:nth-child(2){
      transition-delay:.15s;
      left:17%;
    }
    span:nth-child(3){
      transition-delay:.30s;
      left:50%;
    }
    span:nth-child(4){
      transition-delay:.45s;
      left:75%;
      border-radius: 0 5px 5px 0;
    }
  
  }

.social{
  display: flex;
  flex-flow: column;
  position: fixed;
  z-index: 7;
  top: 42%;
  left: 2%;

  .social-item{
    font-size: 3em;
    padding-bottom: 15px;

    .fa-linkedin{
      color:#0077B5;
    }
    
    .fa-github-square{
      color:#333;
    }

    .fa-instagram{
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      -webkit-background-clip: text;
       background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 600;
    }

    .fa-envelope{
      color: 	#ea4335;
    }
  }
}

.landing-body{
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
  
  .name{
    transition: 2s;
    font-size: 5em;
    letter-spacing: 5px;
    color: #EBECED;
    text-shadow: 2px 2px #101211;
}

  .web{
    transition: 2s;
    margin-top: 2%;
    font-size: 3em;
    letter-spacing: 5px;
    color: #00416b;
      }
    }

    .nav-container{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }

    @media only screen and (max-width: 1200px) {
      .nav{
        position: fixed;
        width: 100%;
        z-index: 7;
        background: $fc-white;
      }
      .landing-body {
      .name{
        font-size: 3.5em;
        color: $fc-white;
      }
    
      .web{
        font-size: 2em;
          }
        }
      }

    
@media only screen and (max-width: 1000px) {
  .logo{
    position: unset;
  }

  .nav {
    flex-flow: column wrap;
    color: $fc-black;
    text-shadow: none;

    a {
      color: $fc-black;
    }
    .nav-item {
      margin:0 1em;
     justify-content: left;
     display: none;
     color: $fc-black;
    }

    .social-nav{
      position: absolute;
      right: 5%;
      top: 0;
      display: flex;
      flex-flow: column;

      .social-item{
        margin-bottom: .25em;
        font-size: 2em;
      }
    }
  }
  
  .social{
    display: none;
  }

     .nav-collapse {
      display: flex;
      line-height: 4;
      background: $fc-white;
      color: $fc-black;
      text-decoration: none;
      width: 50%;
      padding-left: 24px;
      transition: .5s all;
      flex: 1 1 auto;
      position: relative;
      
      &.nav-collapse:before{
        content: "";
        position: absolute;
        width: 6rem;
        height: 2px;
        top: 2.5em;
        background-color: $fc-black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
      }
      
      &.nav-collapse:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }

    @media only screen and (max-width: 520px) {
      .landing-body {
      .name{
        font-size: 2.5em;
        color: $fc-white;
      }
    
      .web{
        font-size: 1em;
          }
        }
      }

      